<?php
/** @var Bitbull_CategoryExtraBlock_Block_Category_Adv $this */
$advData = $this->getAdvData();
?>

<?php if (isset($advData) && $advData != null) : ?>
    <div class="adv-text">
        <?php if (!is_null($advData["title"])) : ?>
            <p><?php echo $advData["title"] ?></p>
        <?php endif; ?>
        <?php if (!is_null($advData["subtitle"])) : ?>
            <p><?php echo $advData["subtitle"] ?></p>
        <?php endif; ?>
    </div>
    <a href="<?php echo $advData["link_url"] ?>" class="adv-img">
        <img src="<?php echo $this->resizeImage($advData["image_url"], 160, 160) ?>"
             alt="<?php echo $advData["image_label"] ?>">
        <?php echo $advData["link_text"]; ?>
    </a>
<?php endif; ?>